body{
    font-family: 'Oswald', sans-serif;
    /*font-family: 'Kaushan Script', cursive;*/
    color: #000;
}
.logobg{
    color: white;
    font-family: 'Kaushan Script', cursive;
    font-size:22vh;
    padding-bottom: 4vh;
    /*margin-top:-2vh;*/
    background-color: #EC1D23;
}
.op1,.op2{
    color: white;
    background-color: #EC1D23;
    text-align: center;
}
.bs-example:hover{
        cursor: pointer;
}
.ipencap{
    display: flex;
    flex-wrap: wrap;
    width: 80%;

}
.searchbar{
    display: flex;
    flex-wrap: wrap;

}
/*#goforit{*/
    /*width:10%;*/
/*}*/
.logo{
    height:30vh;
}
.fa.fa-search{
    font-size:3vw;
    background-color: black;
    /*margin-bottom: 4vh;*/
    /*padding-bottom: 2vh;*/
    margin-top: 12vh;
    margin-left: 4vh;
}
input{
    margin-top: 5vh;
    /*margin-bottom: 5vh;*/
    height:7vh;
    width:90%;
    margin-left: 20vw;
    font-size:2.5vw;
    font-weight:bold;
    /*border:none;*/
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 4px;
    color: black;
    /*border-bottom: 2px;*/
    border-color: black;
    outline: none;

    /*color:transparent;*/

}

::-webkit-input-placeholder{
    color: #000;
}
.searchbar{
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.4);
}

h3{
    font-size:5vh;
    padding-left: 46vw;
}
h5{
        text-transform: uppercase;
}
.heading{
        font-weight: bold;
    font-size: 10vh;
    margin-top: 10px;
}
.footer{
    font-size:3vh;
    color: white;
    background-color:black ;
}
body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: black;
    outline: 1px solid black;
}
.op1 video,.op2 video{
    /*height:30vw;*/
    height: 100%;
    /*min-height: 100%;*/
    width: 30vw;
    margin:20px;
    border:10px solid white;
    padding:10px;
}
#separator{
    background-color: black;
    height:10vh;
    width: 100%;
}
button{
    background-color:#000 ;
    color: white;
    padding:20px;
    margin-left:20%;
    font-size:2vw;
    margin-top:2vh;
    width:66%;
    border:none;
    margin-bottom:10px;
    border-radius: 10px;
}
#btn2gifs,#btn2stickers{
    margin-top: -5px;
    margin-bottom: 10px;
}
#btngifs{
    margin-bottom: 40px;
}